:root {
    --main-bg-color: #0D1F23;
    --form-bg-color: #132E35;
    --form-active-bg-color: #2D4A53;
    --text-color: #69818D;
    --text-active-color: #AFB3B7;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: space-around;
}

.formItem {
    align-self: center;
}

.formItem input {
    width: 96%;
    height: 100%;
    padding: 8px 0;
    margin: 5px 0;
    border: none;
    background: var(--form-bg-color);
    padding-left: 25px;
    color: var(--text-active-color);
}

.formItem input::placeholder {
    color: var(--text-active-color);
}

.formItem input:last-child {
    border-radius: 25px 45px 0 25px;
}

.formItem input:first-child {
    border-radius: 25px 0 45px 25px;
}

.btn {
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: var(--form-bg-color);
    backdrop-filter: invert(80%);
    box-shadow: 0px 0px 15px var(--main-bg-color), inset 0px 0px 15px var(--form-bg-color);
    cursor: pointer;
}

form {
    display: flex;
    width: 40%;
}

.btn i {
    color: var(--text-active-color);
}

.btn:hover i {
    color: #fff;
}

@media screen and (max-width: 1440px) {
    form {
        display: flex;
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    form {
        display: flex;
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    form {
        display: flex;
        width: 80%;
    }
}

.error {
    background: rgba(59, 31, 31, 0.5) !important;
}