:root {
    --main-bg-color: #0D1F23;
    --form-bg-color: #132E35;
    --form-active-bg-color: #2D4A53;
    --text-color: #69818D;
    --text-active-color: #AFB3B7;
    --border-color: #5A636A;
}

.error-box {
    align-self: center;
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
}
