:root {
  --main-bg-color: #202124;
  --form-bg-color: #4D5160;
  --text-color: #fff;
  --active-color: #fff;
  --no-active-color: #000;
}

.app {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
